.sign {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 70vh;
    border-radius: 0.5rem;
    background-color: rgba(207, 52, 52, 0.6);
    margin-top: 20vh;
    margin-left: 30vw;
    align-items: center;

}


.sign {
    display: none;
}

#sign-Up {
    display: none;
    margin-top: 15vh;
    height: 82vh;
}

.sign h1 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: var(--primary-color);
}

.sign form {
    display: flex;
    flex-direction: column;
}

.sign form input {
    font-size: 1rem;
    color: var(--primary-color);
    padding-left: 1rem;
    width: 20vw;
    height: 5vh;
    margin-bottom: 1.5rem;
    background: none;
    border-radius: 0.1vh;
    border-width: 1px solid rgba(207, 52, 52, 0.6);
}

.sign form input::placeholder {
    color: var(--primary-color);
}

.button {
    font-size: 1rem;
    margin-top: 1rem;
    width: 20vw;
    height: 5vh;
    border-radius: 2.5vw;
    background-color: rgb(207, 52, 52);
    color: var(--primary-color);
    border: 1px solid rgb(207, 52, 52);
}

.button:hover {
    transform: scale(110%);
    transition: 0.3s ease-in-out;
}

.sign p {
    font-size: 1rem;
    color: var(--primary-color);
    margin-top: 0.5rem;
}

.signInOut-toggle a {
    color: rgb(204, 165, 240);
    text-decoration: none;
}

.testimonials {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
.testm-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.testm-container {
    display: flex;
    width: 100%;
}

  
.testm-items {
    flex: 0 0 33.3333%; /* 100% divided by 3 */
    padding: 15px;
    box-sizing: border-box;
}
  
.info {
    text-align: center;
}
  
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    font-size: 2rem;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 1;
}
  
.left-arrow {
    left: 5px;
}
  
.right-arrow {
    right: 5px;
}
  
